<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thành viên</title>
<<<<<<< HEAD:src/resource/views/main_thanhvien.ejs
    <link rel="stylesheet" href="/css/style_thanhvien.css">
    <link rel="stylesheet" href="/css/headAndfooter.css">
=======
    <link rel="stylesheet" href="/galaxycinema/static/css/style_thanhvien.css">
    <link rel="stylesheet" href="/galaxycinema/static/css/headAndfooter.css">
>>>>>>> 7c8efcc855818cadb231fec1f4d5f4de8a723491:galaxycinema/templates/main_thanhvien.html
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <body>
        <div>
            <!---phần mở đầu,bao gồm logo,tìm kiếm và thanh chọn-->
            <!---phần logo và tìm kiếm-->
            <% var log %>
            <section id="nav-bar">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
<<<<<<< HEAD:src/resource/views/main_thanhvien.ejs
                    <a class="navbar-brand" href="/home/<%= log.UserToken %>"><img src="/images/ad-logo.png"></a>
=======
                    <a class="navbar-brand" href="/galaxycinema/templates/trangchuLog.html"><img src="/galaxycinema/static/images/ad-logo.png"></a>
>>>>>>> 7c8efcc855818cadb231fec1f4d5f4de8a723491:galaxycinema/templates/main_thanhvien.html
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                          <a class="nav-link " href="/dsphim/<%= log.UserToken %>"  aria-haspopup="true" aria-expanded="false">
                            Phim
                          </a>
                        </li>         
                        <li class="nav-item dropdown">
<<<<<<< HEAD:src/resource/views/main_thanhvien.ejs
                            <a class="nav-link " href="/canhan/<%= log.UserToken %>"  aria-haspopup="true" aria-expanded="false">
                                Cá nhân
                              </a>
                        </li>
                      </ul>
                      <ul class="navbar-nav" style="margin-right: 150px;">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="ProfileMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class='fa fa-user-circle'></i>
                                    <span class="username"><%= log.Name %></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="ProfileMenuButton">
                                    <a class="dropdown-item" href="/member/<%= log.UserToken %>">Tài khoản</a>
                                    <a class="dropdown-item" href="/login">Đăng xuất</a>
                                </div>
                            </div>
                        </li>
=======
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Góc điện ảnh
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Thể loại phim</a>
                                <a class="dropdown-item" href="#">Diễn viên</a>
                                <a class="dropdown-item" href="#">Đạo diễn</a>
                                <a class="dropdown-item" href="#">Bình luận phim</a>
                                <a class="dropdown-item" href="#">Blog điện ảnh</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Sự kiện
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Ưu đãi</a>
                              <a class="dropdown-item" href="#">Phim hay tháng</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rạp/Giá vé</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hỗ trợ</a>
                        </li>
                      </ul>
                      <ul class="navbar-nav" style="margin-right: 150px;">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="ProfileMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class='fa fa-user-circle'></i>
                                    <span class="username"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="ProfileMenuButton">
                                    <a class="dropdown-item" href="main_thanhvien.html">Tài khoản</a>
                                    <a class="dropdown-item" href="trangchu.html">Đăng xuất</a>
                                </div>
                            </div>
                        </li>
>>>>>>> 7c8efcc855818cadb231fec1f4d5f4de8a723491:galaxycinema/templates/main_thanhvien.html
                      </ul>
                    </div>
                </nav>
            </section>
            <!---thông tin thành viên-->
            <!---tạo breadcrumb-->
            <div class="container">
                <!---thông tin-->

                <div class="rowmain row">
                    <div class="col-md-2 col-sm-2 col-xl-2"></div>
                    <div class="col-md-8 col-sm-8 col-xl-8">
                        <form class="thongtin" action ="" method="post" onsubmit="return checkSM(this)">
                            <div class="header row">
                                <h>Thông tin Thành viên</h>
                            </div>
                            <!---dòng 1:chứa thông tin-->
                            <div class="row">
                                <!---thông tin chia làm 2 cột,đây là cột 1-->
                                <div class="col-md-6 col-sm-12 col-xl-6 info">
                                    <div class="frame">
                                        <b>Họ và tên</b>
                                        <input type="text" class="form-control" value="<%= log.Name%>" name="name">
                                    </div>
                                    <div class="frame">
                                       <b>Số điện thoại</b>
                                        <input type="text" class="form-control" value="<%= log.Phone%>" name="phone">
                                    </div>
                                    <div class="frame">
                                        <b>Giới tính :</b>
<<<<<<< HEAD:src/resource/views/main_thanhvien.ejs
                                        <input type="radio" name="gioitinh" value="nam" checked>
                                        <label>nam</label> 
=======
                                        <input type="radio" name="gioitinh" value="nam">
                                        <label>Nam</label> 
>>>>>>> 7c8efcc855818cadb231fec1f4d5f4de8a723491:galaxycinema/templates/main_thanhvien.html
                                        <input type="radio" name="gioitinh" value="nu">
                                        <label>Nữ</label> 
                                        <input type="radio" name="gioitinh" value="khác">
<<<<<<< HEAD:src/resource/views/main_thanhvien.ejs
                                        <label>khác</label> 
                                    </div>
                                    <div class="frame">
                                        <b>Ngày sinh</b>
                                        <input type="text" class="form-control" value="<%= log.Birth%>" name="birth">
                                    </div class="frame">
                                    <div>
                                        <b>Địa chỉ email:</b>
                                        <h>ngoquangdatjpnd@gmail.com</h>
=======
                                        <label>Khác</label> 
>>>>>>> 7c8efcc855818cadb231fec1f4d5f4de8a723491:galaxycinema/templates/main_thanhvien.html
                                    </div>
                                    <div class="pass passcheck" name="passcheck">
                                        <b>Mật khẩu cũ:</b>
                                        <input type="text" class="form-control" value="" name="password">
                                    </div>
                                </div>
                                <!---đây là cột 2-->
                                <div class="col-md-6 col-sm-12 col-xl-6 info">
                                    <div class="frame">
<<<<<<< HEAD:src/resource/views/main_thanhvien.ejs
                                        <b>Ngày tham gia</b>
                                        <input type="text" class="form-control" value="<%= log.createdAt%>" name="date">
                                    </div>
                                    <div class="frame">
                                        <b>Địa chỉ</b>
                                        <input type="text" class="form-control" value="<%= log.Address%>" name="address">
=======
                                        <b>Ngày sinh</b>
                                        <input type="date" class="form-control" value="02/06/2001">
                                    </div>
                                    <div class="frame">
                                        <b>Địa chỉ email</b>
                                        <input type="email" class="form-control" value="@gmail.com">
>>>>>>> 7c8efcc855818cadb231fec1f4d5f4de8a723491:galaxycinema/templates/main_thanhvien.html
                                    </div>
                                    <div class="pass passcheck" name="passcheck">
                                        <b>Mật khẩu mới:</b>
                                        <input type="text" class="form-control" value="" name="newpassword">
                                    </div>
                                </div>
                            </div>
                            <!---dòng 2:lưu button thay đổi-->
                            <div class="frame flexCheckChecked">
                                <input onclick="check()" id="checkpass" class="form-check-input" type="checkbox" name="gioitinh" value="nữ">
                                <label>Tôi muốn thay đổi mật khẩu</label>
                            </div class="frame">
                            <div  class="save">
<<<<<<< HEAD:src/resource/views/main_thanhvien.ejs
                                <button class="btn-primary"> Save</button>
=======
                                <input type="button" value="Lưu lại" class="btn-primary" style="padding: 3px;">
>>>>>>> 7c8efcc855818cadb231fec1f4d5f4de8a723491:galaxycinema/templates/main_thanhvien.html
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xl-2"></div>
                </div>
            
            </div>
            <!---phần kết thúc-->
            <div class="footerAll">
                <div class="footer_up bg-dark text-white ">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <div>
                                    <i class="fa fa-address-card text_intro"></i><a>Giới thiệu</a>
                                </div>
                                <div class="footer">
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Về chúng tôi</p>
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Thỏa thuận hoạt động</p>
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Quy chế hoạt động</p>
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Chính sách</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div>
                                    <i class="fa fa-film text_intro"></i> Góc điện ảnh
                                </div>
                                <div class="footer">
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Thể loại phim</p>
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Bình luận phim</p>
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Blog điện ảnh</p>
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Phim hay tháng</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div>
                                    <i class="fa fa-paper-plane text_intro"></i> Hỗ trợ
                                </div>
                                <div class="footer">
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Góp ý</p>
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Sale and Service</p>
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Rạp/Giá vé</p>
                                    <p href="#"><i class="fa fa-angle-double-right"></i> Tuyển dụng</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div>
                                    <i class="fa fa-link text_intro"></i> Kết nối
                                </div>
                                <div class="footer iconapp">
                                    <p><i class="fa fa-facebook-square"></i>Facebook</p>
                                </div>
                            </div>
                        </div>
                        <div class="imgfooter">
                            <a href="#"></a>
                            <img alt="" src="/images/glx_trade.png" width="150px" height="100%">
                        </div>
                    </div>
                </div>
                <div style="height: 0.05rem;">
                </div>
                <div class="footer_down bg-dark text-white">
                    <p>Công Ty Cổ Phần Phim Thiên Ngân, Tầng 5, Toà Nhà Mặt Trời Sông Hồng, 23 Phan Chu Trinh, Phường Phan Chu Trinh, Quận Hoàn Kiếm, Hà Nội</p>
                </div>
            </div>
        </div>
        <script src="/thaymatkhau.js"></script>
    </body>
</html>