<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!---admin-->
    <% var log %>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="/admin/<%= log.UserToken %>" >
                        <span class="title"><h2>ADMIN</h2></span>
                    </a>
                </li>
                <li>
                    <a href="/admin/<%= log.UserToken %>">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/<%= log.UserToken %>/rap">
                        <span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                        <span class="title">Movie Theaters</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/<%= log.UserToken %>/phim">
                        <span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                        <span class="title">Movies</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/<%= log.UserToken %>/time">
                        <span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                        <span class="title">Show Timings</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/<%= log.UserToken %>/users">
                        <span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                        <span class="title">Users</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/<%= log.UserToken %>/booking">
                        <span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                        <span class="title">Booking</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/<%= log.UserToken %>/update">
                        <span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                        <span class="title">Update Password</span>
                    </a>
                </li>
                <li>
                    <a href="/login">
                        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        <span class="title">Sign out</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    <!--main-->
    <div class="main">
        <div class="topbar">
            <div class="user">
                <img>
            </div>
        </div>
        <div class="list">
            <div class="row">
                <h3>Danh sách user</h3>
            </div>
            <div class="listBox">
                <table>
                    <thead>
                        <tr>
                            <td>User_Id</td>
                            <td>Họ và Tên</td>
                            <td>Giới tính</td>
                            <td>Ngày sinh</td>
                            <td>Gmail</td>
                            <td>SĐT</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% User.map(item =>{ %>
                        <tr>
                            <td><%= item.id %></td>
                            <td><%= item.Name %></td>
                            <td><%= item.Sex %></td>
                            <td><%= item.Birth %></td>
                            <td><%= item.Email %></td>
                            <td><%= item.Phone %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>